{%  form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{%extends "AppBundle:admin:indexAdmin.html.twig"%}

{% block container -%}
<div class="descriptionArea dateTimeArea">
    <h1>Reservation creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('reservation') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
{% endblock %}
