{%extends "AppBundle:Receptionist:indexReceptionist.html.twig"%}
{%block container %}
<form class="descriptionArea" method ="POST" action="{{path('findReservation')}}" data-validate="parsley">
	<div class="form-group">
	<label>Email:</label>
	<input type="text" id="emailReservation" name="emailReservation" data-trigger="change" data-required="true" data-type="email" />
	<input type="hidden" name="status" value={{ status }} />
	<div>
            <button class="btn btn-primary centeredSection" type="submit" >Find reservation</button>
        </div>
	</div>
	
</form>
{%endblock%}