{%extends "AppBundle:Home:index.html.twig"%}
 {%block container %}
<div class="descriptionArea">
	<p class="descriptionParagraph">
	<Built in 1895, MAJESTIC Hotel was lovingly renovated in recent years and is equipped with every modern feature and safety standard. 
	The restaurant adjacent to the hotel, as well as the restaurants and coffe shops in its immediate vicinity, offer excellent local and international culinary delicacies. Our wood-paneled lounge and large, elegant breakfast room are relaxing places to gather and designed to start your day off comfortably.
	</p>
	<p class="descriptionParagraph">
	Located within a short walking distance of the historic city center, MAJESTIC Hotel is an ideal starting point for both leisure and business travelers.
	</p>
	<p class="descriptionParagraph">
	Numerous sights such as the Votivkirche, Volksoper (people's opera), Sigmund Freud Museum, the famous Strudelhofstiege and the University Vienna or the AKH, one of the world's leading hospitals, are easily accessible on foot or by public means.
	</p>
	<p class="descriptionParagraph">
	Be aware that the city of Vienna charges a parking fee if you wish to park your car/bus on a public street in the 9th district - as it does in ALL of Vienna's inner city districts (Monday to Friday from 9am to 10pm on work days). We can offer our guests cheaper parking in nearby garage Sensengasse as well as on public streets in the 9th district. Cheaper public street parking costs 5 euro and a garage space 11 euro per day and car (the garage is appr. 150 meters away). There is only limited cheaper parking available; thus, we kindly ask you to inform us about your parking needs in advance. To receive a parking/garage permit, a deposit of 50 euros is needed which will be returned in full upon departure. Bus drivers: we recommend taking a look at the Bus Driver's Guide before traveling to Vienna.
	</p>
	<p class="descriptionParagraph">
	Our staff is also standing by to take care of all other requests such as taking your orders for opera, concert, theater, musical, or sightseeing tour tickets.
	</p>
	<p class="descriptionParagraph">
	In our reception, an Internet-terminal and a generous variety of drinks is available to you 24 hours a day.
	</p>
	
	<h1>{{ data }}</h1>
	
</div>
{%endblock%}