{%extends "AppBundle:Home:index.html.twig"%}
{%block container %}
<div >
    <form id="form" class="form-register" method="POST" action="{{path('register')}}" data-validate="parsley">
         <h2 class="centeredSection">Register</h2>
        <input type="text" id="email" name="email" placeholder="Email" class="input-xlarge" data-trigger="change" data-required="true" data-type="email">

        <input type="password" id=password name="password" placeholder="Password" class="input-xlarge" data-trigger="change" data-required="true">

        <input type="text" name="firstName" placeholder="First Name" class="input-xlarge" data-trigger="change">

        <input type="text" name="lastName" placeholder="Last Name" class="input-xlarge" data-trigger="change">

        <input type="text" name="telephoneNumber" placeholder="Telephone Number" class="input-xlarge" data-trigger="change">

        <input type="text" name="cardNumber" placeholder="Card Number" class="input-xlarge" data-trigger="change">
        <div>
            <button class="btn btn-primary centeredSection" type="submit" >Create Account</button>
        </div>

    </form>
</div>
 {%endblock%}